/* GÉNÉRAL */

body{
  font-family: Arial, cursive;
  font-size: 15px;
}

h1{
  font-family: 'Crete Round', serif;
  font-size: 45px;
  color: #444;
}

h2{
  color:#444;
  font-size: 55px;
}

h3{
    font-size: 30px;
    color:#444;
}

h4{
  font-size: 24px;
  color:#444;
}

p{
  line-height: 20px;
  color: #777;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  list-style: none;
  color: #444;
}

.orange{
  color: #ff7a00
}


.clear{
  clear: both;
}

small{
  font-size: 13px;
  font-style: italic;
}

img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

ul,ol{
    list-style:none;
}

section{
	padding: 45px 0 80px 0;
}


/* BARRE DE NAVIGATION */

nav h1{
  	margin-left: 20px;
  	font-size: 45px;
}

.navbar{
    background-color: white;
    font-size: 15px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #444 !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: white !important;
    background-color: #444 !important;
}
.navbar-toggler{
    color: #444 !important;
    border-style: none;
}


/* MAIN IMAGE */

#main-image{
  height: 580px;
  background: url('images/main.jpg') center no-repeat;
  text-align: center;
  margin: 0 auto;
  float: none;
}

#main-image h2{
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
}

.button-1{
  display: block;
  width: 120px;
  height:50px;
  background: #ff7a00;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.button-1:hover{
  background: #02b8dd;
  text-decoration: none;
  color: #fff;
}

/* STEPS */

#steps{
  padding: 80px 0;
}

#steps ul{
  display: flex;
  flex-flow:wrap;
  justify-content: center;
}

#steps ul li{
  width: 300px;
  padding-top: 140px;
  text-align: center;
  margin: 30px 10px;
}

#steps h4{
  text-transform: uppercase;
  margin-bottom: 20px;
}

#steps p{
  margin-bottom: 20px;
}

#step-1{
  background: url('images/steps-icon-1.png') no-repeat top center;
}

#step-2{
  background: url('images/steps-icon-2.png') no-repeat top center;
}

#step-3{
  background: url('images/steps-icon-3.png') no-repeat top center;
}

/* POSSIBILITIES */

#possibilities{
  background-color: #efefef;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#possibilities article{
  width: 300px;
  height: 270px; 
  border-radius: 10px;
  margin: 30px;
}

#possibilities article:first-child{
  margin-right: 20px;
}

.overlay{
  background: rgba(255,255,255, 0.90);
  height: 100%;
  width: 190px;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  text-align: center;
  box-sizing: border-box;
}

article h4{
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

#possibilities p{
  text-align: center;
  margin-bottom: 20px;
}

.button-2{
   color: #fff;
   background-color: #ff7a00;
   padding: 6px 20px;
   border-radius: 3px;
}

.button-2:hover{
  background-color: #02b8dd;
  color: #fff;
  text-decoration: none;
}

/* CONTACT */

#contact{
  padding: 60px 40px;
  text-align: center;
}

#contact h3{
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  width: 300px;
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}

form{
  margin: 60px 0 20px 0;
}

label{
  font-weight:bold;
  font-size: 20px;
  margin-right: 10px;
  color:#777;
}

input[type="text"]{
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  border:2px solid #ddd;
  border-radius: 3px;
}

.button-3{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding:11px;
  background-color: #02b8dd;
  border-style: none;
}

.button-3:hover{
  background-color: #444;
  cursor: pointer;
}

/* FOOTER */

footer{
  height: 260px;
  background-color: #444;
}

footer h1{
  color: white;
  text-align: center;
  padding-top: 80px;
}

.copyright{
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  color: #777;
}

/* OTHER PAGE */

.button-movie a{
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 40px;
}

.button-movie a:hover{
  color: white;
}

iframe{
  position:fixed;
  left: calc(50% - 280px);
  top: calc(50% - 155px);
}

.page2{
  background-image: url('images/voyage.jpg');
}

@media (max-width: 1024px){

	/* POSSIBILITIES */

	#possibilities{
	  background-color: #efefef; 
	  padding: 60px 10px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}

	#possibilities article:first-child{
	  margin-bottom:20px;

	}

	/* CONTACT */

	#contact{
	  padding: 60px 20px;
	  text-align: center;
	}
	
}

